<div class=" card my-4" *ngIf="tokenContractAddress">
  <div class="card-body">
    <h5 class="card-title">Token Info</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ tokenContractAddress }}
    </h6>
    <p class="card-text" *ngIf="tokenSupply && symbol">Total Supply: {{ tokenSupply }} {{symbol}}</p>
    <p class="card-text" *ngIf="name">Name: {{ name }}</p>
    <p class="card-text" *ngIf="decimals">Decimals: {{ decimals }}</p>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="sync()">
      Sync
    </button>
  </div>
</div>